@model IEnumerable<BookSearchItem>

<div class="row">
    @foreach (var item in Model) {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a asp-action="Show" asp-controller="Book" asp-route-id="@item.ID">
                    <img class="card-img-top" src='@(item.Base64Image ?? Url.Content("~/imgs/default_book.png"))' alt="@item.Title">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-action="Show" asp-controller="Book" asp-route-id="@item.ID">
                            @item.Title
                        </a>
                    </h4>
                    <p class="card-text">@item.Review</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Nota: @(item.Rating.HasValue ? item.Rating.Value.ToString("N1") : "Não avaliado")
                    </small>
                </div>
            </div>
        </div>
    }
</div>